{% extends 'security/base_login.html.twig' %}

{% block title "Connexion | " ~ website_name %}

{% block body %}
	<section class="min-h-screen bg-gray-50">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<a href="{{path('app_home')}}" class="flex items-center mb-6 text-2xl font-bold text-black">
				<img class="h-10 mr-2" src="{{asset('build/images/logo.png')}}" alt="logo">
				{{ website_name }}
			</a>
			<div class="w-full bg-white rounded-lg shadow-2xl md:mt-0 sm:max-w-md xl:p-0">
				<div class=" p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-semibold leading-tight tracking-tight  md:text-2xl text-black">
						Connectez-vous!
					</h1>
					<form class="space-y-4 md:space-y-6" method="post" novalidate>
						{% if error %}
							<div class="bg-red-600 flex justify-center py-4">
								<p class="text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
							</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes déjà authentifié(e) via ce compte
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-black">Email<span class="text-red-500 font-bold">*</span>
							</label>
							<input id="email" name="email" value="{{ last_username }}" type="email" class="border sm:text-sm rounded-lg block w-full p-2.5 text-black shadow-md focus:outline-none focus:border-primary-blue-500 focus:bg-white" placeholder="johndoe@example.com" required>
						</div>

						<div x-data="{ show: true }">
							<label for="password" class="block mb-2 text-sm font-medium text-black">Mot de passe<span class="text-red-500 font-bold">*</span>
							</label>
							<div class="relative mb-6">
								<input type="password" name="password" :type="show ? 'password' : 'text'" placeholder="" class="border sm:text-sm rounded-lg block w-full p-2.5 text-black shadow-md focus:outline-none focus:border-primary-blue-500 focus:bg-white" required>
								<div class="absolute inset-y-0 top-0 bottom-0 right-0 pr-1 flex items-center text-sm leading-5">
									<svg width="2rem" class="text-gray-400" fill="none" @click="show = !show" :class="{'hidden': !show, 'block':show }" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
										<path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path>
									</svg>

									<svg width="2rem" class="h-6 text-gray-400" fill="none" @click="show = !show" :class="{'block': !show, 'hidden':show }" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512">
										<path fill="currentColor" d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"></path>
									</svg>
								</div>
							</div>
						</div>
						{# <div class="flex items-center justify-between">
							<div class="flex items-start">
								<div class="flex items-center h-5">
									<input id="remember" name="_remember_me" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
								</div>
								<div class="ml-3 text-sm">
									<label for="remember" class="text-gray-500">Se souvenir de moi</label>
								</div>
							</div>
						</div> #}

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button type="submit" class="w-full text-base font-medium text-white py-4 px-9 bg-primary-blue-500 hover:bg-primary-blue-700 hover:shadow-signUp rounded-md transition duration-300 ease-in-out">Se connecter</button>

						<p class="text-sm font-medium text-gray-500">
							<a href="#" class="text-gray-700 hover:text-blue-700 hover:underline">Contactez l'administrateur</a>
							si vous rencontrez un problème!
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>

	{# <div class="container">
			<div class="flex flex-wrap mx-[-16px]">
				<div class="w-full px-4">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
	
						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
	
						<h1 class="h3 mb-3 font-weight-normal">Entrer vos identifiants de connexion</h1>
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
	
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	
						<p>
							<a href="{{path('app_home')}}">Back to home page</a>
						</p>
	
	
						Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.See https://symfony.com/doc/current/security/remember_me.html
	
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Remember me
							</label>
						</div>
	
	
						<button class="btn btn-lg btn-primary" type="submit">
							Sign in
						</button>
					</form>
				</div>
			</div>
		</div> #}
{% endblock %}
