<section id="blog" class="bg-primary bg-opacity-5 pt-[120px] pb-20">
	<div class="container">
		<div class="flex flex-wrap mx-[-16px]">
			<div class="w-full px-4">
				<div class="mx-auto max-w-[570px] text-center mb-[100px] wow fadeInUp" data-wow-delay=".1s">
					<h2 class="text-black text-3xl sm:text-4xl md:text-[45px] mb-4">Nos derniers articles</h2>
					<p class="text-gray-700 md:text-lg leading-relaxed md:leading-relaxed">
						Des informations pratiques et inspirantes, pour vous éclairer sur les tendances et défis actuels du monde des affaires..
					</p>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap mx-[-16px] justify-center">
			<div class="grid grid-cols-1 px-4 gap-y-10 md:grid-cols-2 md:gap-x-6 lg:gap-x-8 xl:grid-cols-3">
				<div class="w-full ">
					<div class="relative bg-white shadow-one rounded-md overflow-hidden mb-10 wow fadeInUp" data-wow-delay=".1s">
						<a href="javascript:void(0)" class="w-full block relative">
							<span class="absolute top-6 right-6 bg-primary rounded-full inline-flex items-center justify-center py-2 px-4 font-semibold text-sm text-white">
								art
							</span>
							<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
						</a>
						<div class="p-6 sm:p-8 md:py-8 md:px-6 lg:p-8 xl:py-8 xl:px-5 2xl:p-8">
							<h3>
								<a href="javascript:void(0)" class="font-bold text-black text-xl sm:text-2xl block mb-4 hover:text-primary dark:hover:text-primary">
									Best UI components for modern websites
								</a>
							</h3>
							<p class="text-base text-gray-500 font-medium pb-6 mb-6 border-b border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet dictum neque, laoreet dolor.
							</p>
							<div class="flex items-center">
								<div class="flex items-center pr-5 mr-5 xl:pr-3 2xl:pr-5 xl:mr-3 2xl:mr-5 border-r border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
									<div class="max-w-[40px] w-full h-[40px] rounded-full overflow-hidden mr-4">
										<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
									</div>
									<div class="w-full">
										<h4 class="text-sm font-medium text-dark mb-1">
											Par
											<a href="javascript:void(0)" class="text-dark hover:text-primary">
												Abdoul Aziz DIOP
											</a>
										</h4>
										<p class="text-xs">Graphic Designer</p>
									</div>
								</div>
								<div class="inline-block">
									<h4 class="text-sm font-medium text-dark mb-1">Date</h4>
									<p class="text-xs text-gray-500">15 Dec, 2023</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full ">
					<div class="relative bg-white shadow-one rounded-md overflow-hidden mb-10 wow fadeInUp" data-wow-delay=".1s">
						<a href="javascript:void(0)" class="w-full block relative">
							<span class="absolute top-6 right-6 bg-primary rounded-full inline-flex items-center justify-center py-2 px-4 font-semibold text-sm text-white">
								mode
							</span>
							<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
						</a>
						<div class="p-6 sm:p-8 md:py-8 md:px-6 lg:p-8 xl:py-8 xl:px-5 2xl:p-8">
							<h3>
								<a href="javascript:void(0)" class="font-bold text-black text-xl sm:text-2xl block mb-4 hover:text-primary dark:hover:text-primary">
									Best UI components for modern websites
								</a>
							</h3>
							<p class="text-base text-gray-500 font-medium pb-6 mb-6 border-b border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet dictum neque, laoreet dolor.
							</p>
							<div class="flex items-center">
								<div class="flex items-center pr-5 mr-5 xl:pr-3 2xl:pr-5 xl:mr-3 2xl:mr-5 border-r border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
									<div class="max-w-[40px] w-full h-[40px] rounded-full overflow-hidden mr-4">
										<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
									</div>
									<div class="w-full">
										<h4 class="text-sm font-medium text-dark mb-1">
											Par
											<a href="javascript:void(0)" class="text-dark hover:text-primary">
												Abdoul Aziz DIOP
											</a>
										</h4>
										<p class="text-xs">Graphic Designer</p>
									</div>
								</div>
								<div class="inline-block">
									<h4 class="text-sm font-medium text-dark mb-1">Date</h4>
									<p class="text-xs text-body-color">15 Dec, 2023</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full ">
					<div class="relative bg-white shadow-one rounded-md overflow-hidden mb-10 wow fadeInUp" data-wow-delay=".1s">
						<a href="javascript:void(0)" class="w-full block relative">
							<span class="absolute top-6 right-6 bg-primary rounded-full inline-flex items-center justify-center py-2 px-4 font-semibold text-sm text-white">
								agriculture
							</span>
							<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
						</a>
						<div class="p-6 sm:p-8 md:py-8 md:px-6 lg:p-8 xl:py-8 xl:px-5 2xl:p-8">
							<h3>
								<a href="javascript:void(0)" class="font-bold text-black text-xl sm:text-2xl block mb-4 hover:text-primary dark:hover:text-primary">
									Best UI components for modern websites
								</a>
							</h3>
							<p class="text-base text-gray-500 font-medium pb-6 mb-6 border-b border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet dictum neque, laoreet dolor.
							</p>
							<div class="flex items-center">
								<div class="flex items-center pr-5 mr-5 xl:pr-3 2xl:pr-5 xl:mr-3 2xl:mr-5 border-r border-body-color border-opacity-10 dark:border-white dark:border-opacity-10">
									<div class="max-w-[40px] w-full h-[40px] rounded-full overflow-hidden mr-4">
										<img class="w-full" src="{{asset('build/images/logo.png')}}" alt="logo-newspreneuriat"/>
									</div>
									<div class="w-full">
										<h4 class="text-sm font-medium text-dark mb-1">
											Par
											<a href="javascript:void(0)" class="text-dark hover:text-primary">
												Abdoul Aziz DIOP
											</a>
										</h4>
										<p class="text-xs">Graphic Designer</p>
									</div>
								</div>
								<div class="inline-block">
									<h4 class="text-sm font-medium text-dark mb-1">Date</h4>
									<p class="text-xs text-gray-500">15 Dec, 2023</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
